{% extends "embed/base.html" %}

{% load embed_video_tags %}
{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">All Videos</h1>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Thumbnail</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      {% for item in page_obj %}
        <tr>
        {% video item.video as this_video %}
            <td><a href="{% url 'video_detail' item.id %}">{{ item.id }}</a></td>
            <td><img src="{{ this_video.thumbnail }}" style="width: 100px"></td>
            <td>{{ item.title }}</td>
        {% endvideo %}
        </tr>
      {% empty %}
        <tr>
          <td colspan="2">No videos available.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
  
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
  
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
</div>
{% endblock %}
